header {
  height: 100px;
  background: #061061;
  border-bottom: 2px solid #8d8c53;
  display: flex;
  align-items: center;

  h1 {
    a {
      color: #fff;
      padding-left: 20px;
      text-decoration: none;
    }
  }

  h2 {
    color: #df8207;
    font-size: 16px;
    font-weight: normal;
    margin-left: 25px;
  }
}